@import "fonts/google-font/style.css";

*, *::after, *::before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size:62.5%;
  font-family: "Product Sans Light Regular", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

.no-border-bottom {
  border-bottom: 0 !important;
}